* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunitoregular.woff");
}

@font-face {
    font-family: NunitoBold;
    src: url("../fonts/Nunitobold.woff");
    font-weight: bold;
}

body {
    font-family: Nunito, sans-serif;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
    background: #F7F7F7;
    border-right: 1px solid #E2E2E2;
    position: relative;
}

.logo {
    padding: 25px 0 27px 0;
    text-align: center;
    display: block;
}

.navigation ul {
    list-style: none;
}

.navigation-item.active a,
.navigation-item a:hover
{
    background: #467DF2;
    border-radius: 5px;
    margin: 0 17px;
}

.navigation-item a {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 13px 14px;
    margin: 0 17px;
}

.navigation-item.active a span,
.navigation-item a:hover span {
    color: #FFFFFF;
}

.navigation-item a:hover svg path {
    fill: #FFFFFF;
}

.navigation-item a span {
    font-size: 14px;
    line-height: 19px;
    color: #858796;
    margin-left: 10px;
}

.feedback {
    position: fixed;
    max-width: 216px;
    bottom: 17px;
    left: 17px;
    border: 1px solid transparent;
}

.feedback:hover {
    border: 1px solid #467DF2;
    border-radius: 5px;
}

.feedback svg {
    width: 47px;
    height: 36px;
    float: left;
    padding: 20px 7px 13px 13px;
}

.feedback p {
    padding: 14px 12px 0 12px;
    font-size: 14px;
    line-height: 19px;
    color: #4F4E4F;
}

.feedback p:last-child {
    padding-top: 0;
    padding-bottom: 13px;
}

.feedback .link {
    color: #0042EB;
    text-decoration: none;
}

.content {
    flex-grow: 1;
}

.header {
    background: #F7F7F7;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E2E2E2;
}

.header-menu {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.header-menu-left {
    display: flex;
    align-items: center;
}

.header-menu-right {
    display: flex;
    align-items: center;
}

.header-menu a {
    margin-right: 60px;
}

.header-menu a:nth-child(2) {
    margin-right: 40px;
}

.header-menu a:last-child {
    margin-right: 0;
}

.header-menu-team {
    font-size: 14px;
    line-height: 19px;
    color: #858796;
    margin-right: 40px;
    text-decoration: none;
    white-space: nowrap;
}

.header-menu-team:hover {
    color: #3D63D2;
}

.header-menu-task {
    display: flex;
    position: relative;
    align-items: center;
    white-space: nowrap;
}

.header-menu-task a:hover span {
    color: #3D63D2;
}

.header-menu-task a:hover svg path {
    fill: #3D63D2;
}

.header-menu-task a {
    text-decoration: none;
}

.header-menu-task a span {
    margin-right: 5px;
    font-size: 14px;
    line-height: 19px;
    color: #858796;
}

.header-menu-task-result {
    display: none;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(102, 102, 102, 0.15);
    border-radius: 10px;
    padding: 22px 22px 22px 12px;
    width: 150px;
    box-sizing: border-box;
    top: 36px;
    z-index: 2;
}

.header-menu-task-result-item {
    font-size: 14px;
    line-height: 19px;
    color: #686464;
    padding: 8px;
}

.header-menu-task a:hover ~ .header-menu-task-result {
    display: block;
}

.header-search {
    display: flex;
    position: relative;
    width: 373px;
}

.header-search-icon {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 20px;
    top: 12px;
}

.header-search-input {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding: 10px 44px;
    outline: none;
    background: #EFEFF5;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    display: block;
    width: 100%;
}

.header-search-input::placeholder {
    color: #B3B3B3;
}

.header-info-action {
    display: flex;
    align-items: center;
    flex-grow: 0;
    padding-left:40px;
}

.header-info-action svg {
    margin-right: 40px;
}

.header-info-action svg:hover path {
    fill: #467DF2;
    cursor: pointer;
}

.header-info-button {
    background: #467DF2;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 11px 18px;
    border: 0;
    width: 83px;
    cursor: pointer;
}

.header-info-button:hover {
    background: #2F54A3;
    border-radius: 10px;
}

.container {
    padding: 25px 40px 53px;
    background: #E5E5E5;
    position: relative;
}

.container h2 {
    font-weight: 800;
    font-size: 35px;
    line-height: 48px;
    color: #4F4E4F;
    margin-bottom: 20px;
}

.main-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.design-block {
    max-width: 350px;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
}

.design-block:hover {
    box-shadow: 0 4px 20px rgba(102, 102, 102, 0.15);
}

.design-block-image {
   display: block;
}

.design-block-info h3 {
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #4F4E4F;
    padding: 20px 27px 4px 27px;
}

.design-block-info span {
    font-size: 15px;
    line-height: 30px;
    color: #4F4E4F;
    padding: 4px 218px 9px 27px;
}

.fix-block {
    height: 22px;
    border-radius: 5px;
    position: absolute;
    top: 19px;
    left: 12px;
}

.fix-block span {
    font-size: 14px;
    line-height: 14px;
    padding: 4px 10px;
    display: inline-block;
    vertical-align: middle;
}

.fix-block.white {
    width: 115px;
    background: rgba(247, 247, 247, 0.8);
    color: #4F4E4F;
}

.fix-block.red {
    width: 118px;
    background: rgba(255, 188, 188, 0.8);
    color: #DB0C0C
}

.fix-block.green {
    width: 83px;
    background: #C6E0C3;
    color: #027900;
}

.design-block-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 27px 20px 27px;
}

.design-block-actions svg:hover path,
.design-block-actions svg:hover ellipse {
    fill: #467DF2;
    cursor: pointer;
}

.support-button {
    background: #467DF2;
    border-radius: 10px 10px 0 0;
    transform: rotate(-90deg);
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 10px 20px 10px 50px;
    width: 186px;
    height: 39px;
    border: 0;
    position: fixed;
    right: -76px;
    top: 397px;
}

.support-button:hover {
    width: 186px;
    height: 49px;
    background: #2F54A3;
    border-radius: 10px 10px 0 0;
    transform: rotate(-90deg);
    cursor: pointer;
}

.support-button svg {
    position: absolute;
    transform: rotate(-270deg);
    top: 11px;
    left: 20px;
}